# Simple code to convert datasets in .mat extenstion to a dataframe

In [10]:
import scipy.io
import pandas as pd

# Load your .mat file
mat = scipy.io.loadmat('HER-Master/datasets/LR0_input_randomfield_cal1000.mat')

# Assuming the .mat file contains a variable 'data' that you want to convert
# You might need to adjust 'data' to the actual variable name you're interested in
df = pd.DataFrame(mat['data'])
display(df)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-1.737084,-1.781680,-1.831119,-1.884632,-1.941022,-1.998950,-2.057266,-2.115304,-2.173048,-2.231140,...,0.758335,0.819961,0.871382,0.912844,0.945020,0.968905,0.985648,0.996349,1.001881,1.002762
1,-1.763457,-1.809787,-1.860652,-1.915230,-1.972260,-2.030346,-2.088306,-2.145459,-2.201800,-2.257994,...,0.783089,0.850814,0.907631,0.953617,0.989237,1.015259,1.032626,1.042290,1.045066,1.041531
2,-1.795720,-1.843203,-1.894873,-1.949843,-2.006799,-2.064302,-2.121139,-2.176616,-2.230718,-2.284119,...,0.804598,0.877586,0.939028,0.988779,1.027042,1.054320,1.071317,1.078835,1.077656,1.068450
3,-1.834217,-1.881985,-1.933543,-1.987969,-2.043906,-2.099887,-2.154669,-2.207534,-2.258450,-2.308090,...,0.823649,0.900681,0.965572,1.017929,1.057669,1.085007,1.100414,1.104552,1.098194,1.082157
4,-1.878653,-1.925592,-1.975911,-2.028667,-2.082489,-2.135889,-2.187594,-2.236862,-2.283633,-2.328567,...,0.841075,0.920599,0.987411,1.040862,1.080591,1.106541,1.118974,1.118444,1.105752,1.081891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.696950,0.740735,0.775216,0.799253,0.812437,0.815163,0.808614,0.794633,0.775499,0.753642,...,-2.041786,-2.002893,-1.959886,-1.912641,-1.860532,-1.802572,-1.737701,-1.665152,-1.584752,-1.497065
96,0.757026,0.811275,0.856521,0.891385,0.915165,0.927933,0.930537,0.924524,0.911950,0.895119,...,-2.100273,-2.059601,-2.014642,-1.965276,-1.910859,-1.850382,-1.782769,-1.707252,-1.623670,-1.532616
97,0.812005,0.876635,0.932538,0.978084,1.012266,1.034817,1.046254,1.047828,1.041371,1.029070,...,-2.165108,-2.122614,-2.075670,-2.024155,-1.967403,-1.904383,-1.834012,-1.755528,-1.668788,-1.574407
98,0.862137,0.936840,1.003074,1.058951,1.103163,1.135110,1.154974,1.163714,1.162941,1.154722,...,-2.234687,-2.190320,-2.141359,-2.087679,-2.028594,-1.963056,-1.889976,-1.808602,-1.718807,-1.621229
99,0.906722,0.990952,1.066971,1.132649,1.186384,1.227254,1.255110,1.270619,1.275163,1.270675,...,-2.307199,-2.260901,-2.209871,-2.153989,-2.092561,-2.024529,-1.948811,-1.864664,-1.771971,-1.671382

In [25]:
mat['z']

array([[-1.7370844 , -1.78167956, -1.83111932, ...,  0.99634919,
         1.00188076,  1.00276165],
       [-1.76345668, -1.80978726, -1.86065216, ...,  1.04228974,
         1.04506632,  1.0415309 ],
       [-1.79571966, -1.84320348, -1.89487333, ...,  1.0788352 ,
         1.07765607,  1.06845038],
       ...,
       [ 0.81200517,  0.87663517,  0.93253819, ..., -1.75552785,
        -1.66878797, -1.57440739],
       [ 0.86213651,  0.93684048,  1.00307389, ..., -1.80860206,
        -1.71880732, -1.62122863],
       [ 0.90672189,  0.99095199,  1.06697148, ..., -1.86466435,
        -1.77197104, -1.67138193]])

In [23]:
data = {
    'x': mat['x'].flatten(),
    'y': mat['y'].flatten(),
    'z': mat['z'].flatten()
}
data_df = pd.DataFrame(data) #created dataframe
display(data_df)

        x    y         z
0       1    1 -1.737084
1       2    1 -1.781680
2       3    1 -1.831119
3       4    1 -1.884632
4       5    1 -1.941022
...   ...  ...       ...
9995   96  100 -2.024529
9996   97  100 -1.948811
9997   98  100 -1.864664
9998   99  100 -1.771971
9999  100  100 -1.671382

[10000 rows x 3 columns]