# Inverse distance weighting

https://pareekshithkatti.medium.com/inverse-distance-weighting-interpolation-in-python-68351fb612d2

Python package: https://github.com/yahyatamim/pyidw

IDW based on paper: https://colab.research.google.com/github/caiociardelli/sphglltools/blob/main/doc/9_Inverse_distance_weighting.ipynb#scrollTo=yM5SAdS8Sunj

IDW with youtube video:
https://github.com/adenarayana/Python-Matplotlib/blob/main/008_IDWInterpolation/008_IDWInterpolation.ipynb

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
crimes_df = pd.read_csv("crimes_processed.csv")
meuse_df = pd.read_csv("meuse_processed.csv")

In [14]:
x_coordinates = [181074, 179463, 182080]
y_coordinates = [333618, 330389, 333718]

In [15]:
interpolate_data = pd.DataFrame({
    'x': x_coordinates,
    'y': y_coordinates
})

In [16]:
interpolate_data

        x       y
0  181074  333618
1  179463  330389
2  182080  333718

In [17]:
meuse_df['y'][0]

333611

In [18]:
# Calculate Euclidean distance between two points
def distance(x1, x2, y2, y1):
    return np.sqrt((x2 - x1)**2 + (y2 - y1)**2)

In [19]:
type(interpolate_data['x'][0])

numpy.int64

In [21]:
# list of velocity from IDW
vIDW = []

for i in range(len(interpolate_data)):
    
    #=========get the distance: the closest 5 points=========#
    
    nPoints = 5 # number of points
    dList = []
    
    for j in range(len(meuse_df)):
        dist = distance(interpolate_data['x'][i], meuse_df['x'][j], interpolate_data['y'][i], meuse_df['y'][j])
        dList.append(dist) 
        
    dListDF = pd.Series(dList)
    dListDF.sort_values(ascending=True, inplace=True)
    dListDF = dListDF[0:nPoints]
    
    #=========check the distance=========#
    
    if dListDF.iloc[0] <= 1: # if the distance from interpolation point less than equal to 1 meter
        
        vIDW.append(meuse_df['mag'][dListDF.index.values[0]])
        
    else:    
    #=========IDW=========#    
        
        # get the velocity data: the closest 5 data
        
        vZinc = []
        for idx in dListDF.index.values:
            vZinc.append(meuse_df['zinc'][idx])
        vZinc = np.array(vZinc)

        # weight calculation
        
        p = 2                     # power parameter
        wList = []
        for d in dListDF:
            wList.append(1/d**p) 
        wList = np.array(wList)

        # IDW
        
        vIDW.append(np.dot(vZinc,np.transpose(wList))/np.sum(wList)) 

# final result
vIDW = np.array(vIDW)

In [22]:
i = 0 # 
nPoints = 5 # number of points
dList = []

for j in range(len(meuse_df)):
    dList.append(distance(interpolate_data['x'][i], 
                          meuse_df['x'][j],
                          interpolate_data['y'][i], 
                          meuse_df['y'][j])) 

dListDF = pd.Series(dList)
dListDF.sort_values(ascending=True, inplace=True)
dListDF = dListDF[0:nPoints]

In [23]:
dListDF

0      7.280110
1     77.466122
2    121.827747
7    259.295199
3    261.021072
dtype: float64

In [24]:
meuse_df.iloc[dListDF.index.values]

,x,y,cadmium,copper,lead,zinc,elev,dist,om,ffreq,soil,lime,landuse,dist.m
0,181072,333611,11.7,85,299,1022,7.909,0.001358,13.6,1,1,1,Ah,50
1,181025,333558,8.6,81,277,1141,6.983,0.012224,14.0,1,1,1,Ah,30
2,181165,333537,6.5,68,199,640,7.800,0.103029,13.0,1,1,1,Ah,150
7,181027,333363,2.8,29,150,406,8.490,0.092152,9.5,1,1,0,Ab,120
3,181298,333484,2.6,81,116,257,7.655,0.190094,8.0,1,2,0,Ga,270

In [25]:
if dListDF.iloc[0] <= 1: # if the distance from interpolation point less than equal to 1 meter

    meuse_df['zinc'][dListDF.index.values[0]]
    print(True)

else:
    
    print(False)

False

In [27]:
#=========IDW=========#    

# get the velocity data: the closest 5 data

vZinc = []
for idx in dListDF.index.values:
    vZinc.append(meuse_df['zinc'][idx])
vZinc = np.array(vZinc)

# weight calculation

p = 2                     # power parameter
wList = []
for d in dListDF:
    wList.append(1/d**p) 
wList = np.array(wList)

# IDW

np.dot(vZinc,np.transpose(wList))/np.sum(wList)

1020.6254088301395